
.portfolio{
    margin: 100px;
}
.project__contener{
    display: flex;
    align-items: center;
   gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card {

    position: relative;
    width: 300px;
    height: 200px;
    background: lightgrey;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(1, 1, 43, 0.2) 0px 7px 29px 0px;
    transition: all 1s ease-in-out;
    margin:20px 0;
  }
  
  .background {
    position: absolute;
    inset: 0;
    background: url('../Asset//lensaWEb.png');
  }
  
  .logo {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    transition: all 0.6s ease-in-out;
  }
  
  .logo .logo-svg {
    fill: white;
    width: 30px;
    height: 30px;
  }
 
  .box {
    position: absolute;
    padding: 10px;
    text-align: right;
    background: rgba(253, 253, 253, 0.952);
    border-top: 2px solid rgb(10, 10, 10);
    border-right: 1px solid white;
    border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
    box-shadow: rgba(0, 0, 0, 0.904) -7px 7px 29px 0px;
    transform-origin: bottom left;
    transition: all 1s ease-in-out;
  }
  
  .box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .box1 {
    width: 40%;
    height: 40%;
    bottom: -100%;
    left: -100%;
  }
  
  .box1::before {
    background: rgb(233, 236, 238);
  }
  
  .box1:hover::before {
    opacity: 1;
  }
  
  .box1:hover .icon  {
    filter: drop-shadow(0 0 5px white);
  }
  .box2:hover .icon  {
    filter: drop-shadow(0 0 5px white);
  }
  .box3:hover .icon  {
    filter: drop-shadow(0 0 5px white);
  }
  .box2 {
    width: 50%;
    height: 50%;
    bottom: -50%;
    left: -50%;
    transition-delay: 0.2s;
  }
  
  .box2::before {
    background: rgb(255, 255, 255)
  }
  
  .box2:hover::before {
    opacity: 1;
  }
  
  
  
  .box2 {
    width: 30%;
    height: 30%;
    bottom: -40%;
    left: -40%;
    transition-delay: 0.4s;

  }
  
  .box2::before {
    background: rgba(55, 169, 197, 0);
  }
  
  .box2:hover::before {
    opacity: 1;
  }
  
  
  .box3 {
    width: 18%;
    height: 18%;
    bottom: -20%;
    left: -30%;
    transition-delay: 0.9s;
 
  }
  
 
  
  .card:hover .box {
    bottom: -1px;
    left: -1px;
    background-color: rgb(254, 255, 255);
  }
  
  .card:hover .logo {
    transform: translate(0, 0);
    bottom: 20px;
    right: 20px;
  }
  .ProjectTitels{
 
    background-color: rgb(0, 0, 0);
   padding: 10px;
   border-radius: 20px;
    font-weight: 900;
  }
  .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
   
  }

  
@media screen and (max-width:1000px) {
    .portfolio{
        margin: 50px;
        
    }
    .project__contener{
       
        flex-wrap: wrap;
    }
    
}

