@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: poppins;
}

:root{
    --bg_color:linear-gradient(to left,black,rgb(12, 1, 49));
    --text_color:aliceblue;
    --Btn__text:#fff;
    --Btn_bga:#e2b901;
    --border:#fff;
    --Btn_bga_color:#fff;
    --border:white;
    --Menu-mobile:linear-gradient(to left,black,rgb(12, 1, 49));
    --linColor:#fff;
    



}
body{
    background: var(--bg_color);
    color: var(--text_color);

}

[BackGroundColor="Light"]{
    --bg_color:white;
    --text_color:rgb(6, 7, 7);
    --Btn__text:#070707;
    --border:#000000;
    --Btn_bga:#db8d17;
    --Btn_bga_color:#050505;
    --border:black;
    --Menu-mobile:linear-gradient(to left,rgb(255, 255, 255),#ffffff);
    --linColor:#000;
}
button{
    
    width: 150px;
    height: 35px;
    background-color: var(--Btn_bga_color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--Btn_bga);
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;

}
